/* All */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

a:link, a:visited, a:hover {
    text-decoration: none !important;
}

a:hover, a:active, a:focus {
    outline: 0;
}

body{
    height: 100vh;
    margin: 0;
    line-height: 1.42857143;
    background: #eaeaf0 !important;
    background: -moz-linear-gradient(left, #eaeaf0 0%, #dddde6 100%) !important;
    background: -webkit-linear-gradient(left, #eaeaf0 0%,#dddde6 100%) !important;
    background: linear-gradient(to right, #eaeaf0 0%,#dddde6 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaf0', endColorstr='#dddde6',GradientType=1 ) !important;
}

p {
    margin: 0 0 10px 0;
}

/* Header */

header {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.HeaderBlock{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1px 15px 0 30px;
    position: relative;
    line-height: 20px;
}

.AppNameTitle{
    font-size: 26px;
    font-family: poppinsextrabold;
    color: #024D7E !important;
    float: left;
}

.AppNameTitle::after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: 0;
    width: 20px;
    background: #1cc7d0;
    background: -moz-linear-gradient(left, #1cc7d0 0%, #2dde98 100%);
    background: -webkit-linear-gradient(left, #1cc7d0 0%,#2dde98 100%);
    background: linear-gradient(to right, #1cc7d0 0%,#2dde98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cc7d0', endColorstr='#2dde98',GradientType=1 );
}

.AppLogout{
    height: 100%;
    float: right;
    padding: 0 15px 0 15px;
    border-left: 1px solid #E9EAEB;
}

.AppLogout img.UserAvatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
}

.AppLogout span.UserName {
    padding: 0 15px 0 15px;
    color: #041738;
    font-family: poppinsregular;
    font-size: 12px;
    vertical-align: middle;
}

.AppLogout .LogOutIcon{
    width: 17px;
}

.AppSearch{
    height: 100%;
    float: right;
    padding: 0 15px 0 15px;
    width: 20% !important;
}

.AppSearch .search-form{
    width: 100%;
    height: 35px;
}

.AppSearch .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.AppSearch .input-group .form-control {
    height: 35px;
    background-color: #F7F7FA;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.AppSearch .input-group .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.AppSearch .input-group .input-group-btn button {
    color: #004673;
    font-family: poppinsbold;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #ccc;
    white-space: nowrap;
    line-height: 22px;
    height: 35px;
    border-radius: 0 4px 4px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
    margin-left: -1px;
    overflow: visible;
}

/* Content */
/* Toc */

.mm-wrapper_sidebar-expanded-30 .mm-menu_sidebar-expanded {
    width: 30% !important;
}

[class*="mm-wrapper_sidebar-expanded-"] .mm-menu_sidebar-expanded.toc{
    height: calc(100% - 70px);
    top: 70px !important;
    position: fixed;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaf0+0,dddde6+100 */
    background: #eaeaf0; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeaf0 0%, #dddde6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eaeaf0 0%,#dddde6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eaeaf0 0%,#dddde6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaf0', endColorstr='#dddde6',GradientType=0 ); /* IE6-9 */
}

/* Footer */

footer{
    background-color: #ffffff;
    border-top: 1px solid #E9EAEB;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 30%);
}

footer ul{
    text-align: right;
    margin: 8px 10px 0 0;
}

footer ul li{
    display: inline-block;
    font-family: source_sans_proregular;
    font-size: 13px;
    color: #707070;
}

footer ul li img{
    width: 60px;
    height: 13px;
    vertical-align: inherit !important;
    padding-left: 5px;
    position:relative;
    top: 1px
}

/* Main-Container */

.mm-wrapper_sidebar-expanded-30:not(.mm-wrapper_sidebar-closed) .mm-slideout {
    width: 70%;
}

.mm-wrapper_sidebar-expanded-30:not(.mm-wrapper_sidebar-closed) .mm-slideout {
    -ms-transform: unset !important;
    -webkit-transform: unset !important;
    transform: unset !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.main-container {
    position: fixed;
    top: 70px;
    overflow: auto;
    width: 70%;
    height: calc(100% - (70px + 40px));
    min-height: 0 !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    right: 0;
    background: #F5F5F5 !important;
}

/* Loop */

article.container-article {
    background-color: #ffffff;
    border: 1px solid #E9EAEB;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    padding-left: 65px;
    position: relative;
    transition: box-shadow 1s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 2px rgba(0,0,0,0);
}

article.container-article:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}

article.container-article::before {
    content: '';
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}


article.container-article h4 {
    font-size: 16px;
    margin: 20px 0 10px 0;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: poppinsbold;
    color: #024D7E;
    font-weight: 500;
    line-height: 1;
}

article.container-article p{
    margin: 2px 0 10px 0;
}

time, p{
    color: #333333;
    font-family: source_sans_proregular;
}

.post-info a{
    font-family: source_sans_proregular;
}

time{
    font-size: 12px;
}

p, .seeProfile span{
    font-size: 14px;
}
.titleFocus{
    color: #0268AA;
    font-family: poppinslight;
    font-size: 21px;
    position: absolute;
    top: 11px;
    left: 23px;
}

article.container-article-focus {
    padding-left: 288px;
    position: relative;
    padding-top: 31px;
    min-height: 233px;
    border: 2px solid #1CC7CE;
    margin-bottom: 0px !important;
}

article.container-article-focus::before {
    content: '';
    width: 250px;
    height: 164px;
    position: absolute;
    left: 25px;
    top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

article.container-article-focus h4{
    font-size: 22px;
}

article.immobilier.container-article-focus::before {
    background-image: url("https://www.artemiscourtage.com/wp-content/uploads/2017/11/credit-immobilier-ptz-1-760x358.jpg");
}

/* Single */
/* Article Post Content Design */
article.post{
    background: #FFFFFF;
    border-radius: 6px;
    padding: 15px;
    padding-top: 15px;
    padding-left: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

article.post::before, article.container-article::before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    left: 16px;
    top: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
}

article.container-article::before {
    top: 15px;
}


article.post.fiscalite::before, article.fiscalite.container-article::before {
    background-image: url("../img/fiscalite.svg");
}

article.post.famille::before, article.famille.container-article::before {
    background-image: url("../img/famille.svg");
}

article.post.placements::before, article.placements.container-article::before {
    background-image: url("../img/placements.svg");
}

article.post.retraite::before, article.retraite.container-article::before {
    background-image: url("../img/retraite.svg");
}

article.post.dirigeants::before, article.dirigeants.container-article::before {
    background-image: url("../img/dirigeants.svg");
}

article.post.immobilier::before, article.immobilier.container-article::before {
    background-image: url("../img/immobilier.svg");
}

article.post.outils::before, article.outils.container-article::before {
    background-image: url("../img/outils.svg");
}

/* Post Icons Header Design */
article.post div.actionsIcons{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

article.post i {
    font-size: 20px;
    color: #0065A5;
    margin-left: 3px;
    margin-right: 3px;
}

article.post i.fa-chevron-left, article.post i.fa-chevron-right{
    margin-left: 5px;
    margin-right: 5px;
}

/* Post Text Content Design */

article.post a{
    color: #337ab7 !important;
}

article.post h1, article.post h2, article.post h3, article.post h4, article.post h5, article.post h6 {
    margin-bottom: 0px;
    margin-top: 30px;
    font-family: poppinsbold;
    color: #024D7E;
}

h1.post-title:first-of-type {
    font-size: 22px;
}

article.post h1 {
    font-size: 18px;
}

article.post h2 {
    font-size: 16px;
}

article.post h3 {
    font-size: 14px;
}

article.post h3, article.post h4 , article.post h5 , article.post h6{
    font-family: 'poppinsmedium';
    margin-bottom: 10px;
}

article.post li, div.container-widget li{
    list-style-type: none; /* no default bullets */
}

article.post li::before {
    margin-right: 10px;
    margin-bottom: 2px;
    height: 7px;
    width: 7px;
    display: inline-block;
    content: "";
    background-color: #1FCCC4 !important;
}



div.container-widget li {
    list-style-type: square;
    color: #1FCCC4;
    font-family: 'source_sans_prosemibold';
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    position: relative;
}

div.container-widget li+li::before {
    content:"";
    width: calc(100% + 18px);
    height: 1px;
    background-color: #E9EAEB;
    position: absolute;
    top: 0;
    left: -18px
}


div.container-widget li+li {
    margin-top: 12px;
}

div.container-widget li > a {
    color: #333333;
}


p.post-info {
    margin: 0
}

/* FOCUS PAGE FARNCIS */

article.container-article-focus img.focus {
    width: 250px;
    height: 164px;
    position: absolute;
    left: 25px;
    top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-lg-12 {
    width: 100%;
}

.col-lg-9 {
    width: 65%;
}

.col-lg-3 {
    width: 35%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}

.container-widget{
    background-color: #ffffff;
    border: 1px solid #E9EAEB;
    margin-top: 15px;
    padding: 15px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0);
}

.container-widget .etiquette{
    color: #0268AA;
    font-family: poppinslight;
    font-size: 21px;
}

a.blueBubble{
    background-color: #1CC7CE;
    margin-top: 15px;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 2px rgba(0,0,0,0);
    display: block;
    color: white;
    font-family: poppinsbold;
    font-size: 14px;
    text-align: center;
}

a.blueBubble:hover{
    background-color: #0268AA;
}

.container-widget ul.ul{
    padding-left: 20px;
    margin-bottom: 0;
}

.suiv-prec a{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #0268AA;
    text-decoration: none;
}

.suiv-prec a:hover{
    text-decoration: none;
    background-color: #eee;
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
}