html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'source_sans_proregular';
	overflow: hidden;
	color: #45545F;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.blocImg,
.blockLogin,
.loginPage .blocImg,
.loginPage .blockLogin {
	height: 100%;
	float: left;
	-webkit-transition: width .5s;
	transition: width .5s;
}

.loginPage {
	height: 100%;
}

.loginPage .blocImg {
	position: relative;
	color: #4a555e;
}

.loginPage .presHarvest a {
	color: #FFF;
	border-color: #FFF;
	margin-top: 10px;
	display: inline-block;
}

.blocImg {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../img/pat.jpg');
}

.blockLogin {
	background-color: #FFF;
	text-align: center;
	overflow-y: auto;
}

.loginForm {
	padding: 30px 60px;
}

.blokInput {
	position: relative;
	padding-top: 10px;
	text-align: left;
}

.blokInput label {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 14px;
}

.blokInput input {
	width: calc(100% - 28px);
	padding: 12px;
	outline: none;
	font-size: 14px;
	font-family: 'source_sans_proregular';
	background: #FBFBFC !important;
	border: 1px solid #E9E9F0;
	border-radius: 4px;
}

.blokInput input:focus {
	border: solid 1px #becbd3;
}

.loginPage .logoHarvest {
	text-align: left;
	padding: 30px 60px 0 60px;
	margin: 0 0 40px 0;
	text-align: center;
}

.blokInput+.blokInput {
	margin-top: 40px;
}

.logoHarvest {
	margin: 80px 0;
	text-align: center;
}

.loginForm form {
	-webkit-transition: width .5s;
	transition: width .5s;
}

.loginForm h1 {
	font-size: 50px;
	font-family: poppinsextrabold;
	color: #024D7E !important;
	margin-bottom: 0px;
}

.loginForm h1+p {
	font-family: 'source_sans_prolight';
	margin-top: 0;
	margin-bottom: 60px;
	color: #A5A6AC;
}

.loginForm button {
	display: inline-block;
	font-family: 'source_sans_prolight';
	color: #FFF;
	text-decoration: none;
	font-size: 18px;
	padding: 13px 30px;
	margin: 40px 0 10px 0;
	border: none;
	outline: 0;
	cursor: pointer;
	border-radius: 25px;
	background: #0268aa;
	background: -moz-linear-gradient(left, #0268aa 0%, #05abe0 100%);
	background: -webkit-linear-gradient(left, #0268aa 0%, #05abe0 100%);
	background: linear-gradient(to right, #0268aa 0%, #05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0268aa', endColorstr='#05abe0', GradientType=1);
	box-shadow: 0px 3px 6px rgba(2, 104, 170, .5);
}

.loginPage a {
	letter-spacing: 1px;
	font-size: 12px;
	text-decoration: none;
	color: #333333;
}

.loginPage a.bubble {
	font-family: 'source_sans_prolight';
	color: #0268AA;
	letter-spacing: 1px;
	font-size: 16px;
	border: solid 1px #0268AA;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	margin-bottom: 30px;
	display: inline-block;
}

.loginPage a.bubble span {
	font-family: 'source_sans_proregular';
}

.loginPage .logoHarvest img {
	width: 80px;
	height: auto;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #FBFBFC inset;
}

.linkPass {
	margin-top: 0;
}


/* MEDIA QUERIES */


/* XS */
@media screen and (max-width: 639px) {
	.loginForm h1 {
		font-size: 40px;	
	}
	.loginForm h1+p>br {
		display: none
	}
	.loginForm {
		padding: 30px 20px;
	}
}

@media screen and (max-width: 767px) {
	.loginPage .blocImg {
		width: 0;
	}
	.loginPage .blockLogin {
		width: 100%;
	}
}


/* XS */


/* SM */

@media screen and (min-width: 768px) {
	.loginPage .blocImg {
		width: 40%;
	}
	.loginPage .blockLogin {
		width: 60%;
	}
}


/* SM */


/* MD */

@media screen and (min-width: 992px) {
	.loginPage .blocImg {
		width: 50%;
	}
	.loginPage .blockLogin {
		width: 50%;
	}
}


/* MD */


/* LG */

@media screen and (min-width: 1200px) {
	.loginForm form {
		width: 80%;
		margin: auto;
	}
}


/* LG */

@media screen and (min-width: 1440px) {
	.loginForm form {
		width: 60%;
		margin: auto;
	}
}


/* MEDIA QUERIES */